---
- hosts: nas-container-apps
  become: true
  tags:
    - nas-container-apps
  pre_tasks:
    - ansible.builtin.setup: {}
      tags:
        - always
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users: [fzymgc]
        docker_install_compose_plugin: true
        docker_compose_package: docker-compose-plugin
        docker_compose_package_state: present
      tags:
        - docker
    - role: nas-container-users
      tags:
        - users
    - role: cloudflared-container
      tags:
        - cloudflared-container
      vars:
        cloudflared_docker_network: main-bridge
        cloudflared_config_directory: /mnt/data/nas-container-apps/cloudflared
        cloudflared_proxy_dns_address: 172.20.255.254
        cloudflared_proxy_dns_port: 53
    - role: traefik
      tags:
        - traefik
      vars:
        traefik_docker_network: main-bridge
        traefik_log_directory: /mnt/data/nas-container-apps/traefik/log
        traefik_config_directory: /mnt/data/nas-container-apps/traefik
    - role: capps-komodo
      tags:
        - komodo
