# system-networkd

[Match]
Name={{ host_interface_name }}

[Network]
DHCP=yes
IPv6AcceptRA=yes
IPv6PrivacyExtensions={{ host_ipv6_privacy_extensions }}
LLMNR=yes
MulticastDNS=yes
LLDP=yes
EmitLLDP=yes
{% if dns_address is defined and dns_address != '' %}
DNS={{ dns_address }}
{% endif %}
{% if dns_domain is defined and dns_domain != '' %}
Domains=~{{ dns_domain }}
{% endif %}

[DHCP]
UseRoutes={{ use_dhcp_routes }}
{% if dns_address is defined and dns_address != '' %}
UseDNS=false
{% endif %}
