secrets:
    database:
        password: "{{ game_db_password }}"

    recaptcha:
        secret: ""
        site_key: ""

    aws:
        key_id: ""
        secret_key: ""
        bucket: ""
        region: ""

    gcse:
        search_id: ""

    engine_api_keys:
        - "{{ game_engine_api_key }}"
