[Unit]
Description=DNSCrypt Proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/dnscrypt-proxy -config /etc/dnscrypt-proxy/dnscrypt-proxy.toml
ProtectSystem=full
Restart=always

[Install]
WantedBy=multi-user.target
